@import url(reset.css);

body {
	background: #fff;
    font-family: 'Century Gothic';
}

#logo {
    background: url(../img/logo.png) no-repeat;
    width: 150px;
    display: block;
    height: 36px;
    margin: 1px;
    position: absolute;
    cursor: pointer;
}

#logo a {
    display: none;
}

.copyright {
    color: #333;
    text-align: center;
    margin: 0 auto;
    margin-top: 630px;
}

.block {
    display: block;
    width: 150px;
    padding-top: 0px;
    height:150px;
    background: url(../img/block.jpg);
    margin: 1px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    position: absolute;
    z-index: 1;
}

.new {
    background: #ff00ae;
}

.block.architecture {
    background: #fff url(../img/architecture.jpg) 50% 50%;
    z-index: 900;
}

.block.interior {
    background: url(../img/interior.jpg) 50% 50%;
    z-index: 900;
}

.block.design {
    background: url(../img/design.jpg) 50% 50%;
    z-index: 900;
}

.block.performance {
    background: url(../img/performance.jpg) 50% 50%;
    z-index: 900;
}

#content.architecture {
    background: none;
    opacity: 0.1;
}

#content.interior {
    background: none;
    opacity: 0.1;
}

#content.design {
    background: none;
    opacity: 0.1;
}

#content.performance {
    background: none;
    opacity: 0.1;
}


.menu nav {
    display: none;
}

nav ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {

}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

nav a.active,
nav a:hover {
    color: #ff00ae;
}


.contacts h2,
.new h2,
.menu h2 {
    display: none;
    font-size: 18px;
    margin-top: 65px;
    text-align:center;
    font-weight:normal;
}

.contacts h2,
.new h2 {
    display: block;
}

.menu.clicked h2,
.menu.hover h2 {
    display: block;
}

.menu.active.hover h2,
.menu.active h2 {
    display: none;
    margin-top: 5px;
    font-size:16px;
    line-height: 18px;
}

.menu.active nav {
    display:block;
}

.contacts.hover,
.new.hover,
.menu.clicked,
.menu.hover {
    cursor: pointer;
    z-index: 999;
    background: url(../img/block.jpg);
    opacity: 1;
}

.contacts.hover h2,
.new.hover h2,
.menu.clicked h2,
.menu.hover h2 {
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

.first-anim {
    box-shadow: 0 0 3px #000;
}

.menu.active {
    background: url(../img/block.jpg);
    text-indent: 0;
    text-shadow: none;
}

#sidebar {
    float: left;
    width: 152px;
}

#b05, 
#b09 {
    position: relative;
}

#b09 {
    margin-top: 2px;
}

#page {
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

#content {
    float: right;
    margin: 1px;
    width: 400px;
    height: 300px;
    display: block;
    position: relative;    
}

#projects {
    display: none;
    position: absolute;
    z-index: 1000;
    overflow: hidden;
}

article {
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 7px;
    overflow: hidden;
    float: left;
    display: block;
}

article figure {
    display: block;
    cursor: pointer;
    overflow: hidden;
}

article img {
    border: solid 1px #333;
}

article img:hover {
    border: solid 1px #eee;   
}

article h3,
article p {
    display: none;
}

#b05 article h3,
#b05 article p {
    display: block;
}

.divider {
    float: left;
    clear: both;
    display: block;
    height: 8px;
    width: 152px;
}

#b05 img {
    width: 75px;
    height: 75px;
}

#contacts {
    position: absolute;
    z-index: 2000;
    background: none;
}

#contacts h2 {
    position: absolute;
    width: 152px;
    text-align: center;
}

#contacts article {
    position: absolute;
    margin-left: -150px;
    display: block;
    width: 150px;
    height: 150px;
}

#contacts article p {
    display: block;
}

#pagination,
#prev,
#next {
    position: absolute;
    display: block;
    width: 100px;
    height: 20px;
    cursor: pointer;
    color: #fff;
    right: 10px;
}

#next {
    top: 10px;
}

#prev {
    top: 30px;
}

#pagination {
    bottom: 10px;
}

#pagination li {
    display: inline-block;
    border-radius: 50%;
    background: #333;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    margin-right: 5px;
}

#pagination li:hover,
#pagination li.active {
    background: #ff00ae;
}